input:focus ~ div {
  box-shadow: 0 0.5rem 1rem rgba(#000, 0.15);
  padding: 5px;
  transition: all ease 100ms;
  border-radius: 10px;
}

fieldset {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  // border-width: 1px 0 0;
}
